.bg_custom {
    background-color: antiquewhite;
}

.h_90vh {
    height: 90vh;
}

.pallino {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
}

.pallino_active {
    color: blue;
}

.fs_4em {
    font-size: 4em;
}

.fs_2em {
    font-size: 2em;
}